{% extends "layout.html" %}
{% block content %}
<h1>
About The Videogame Data
</h1>

<p>
    The data from this webapp is from the CORGIS Dataset Project and can be found <a href="https://think.cs.vt.edu/corgis/json/video_games/">here</a> This dataset contains data on over 1,000 video games
    from the years 2004 to 2010. The playtime information was collected from crowd-sourced data on “How Long to Beat”. It has information on how long it took for players to beat the game, how long it took
    to complete the game and many other forms of data.
</p>

<p>
The review scores of each videogame are from the review website "Metacritic"
</p>
{% endblock %}
