{% extends "layout.html" %}
{% block content %}

<h1>
Time to Beat Compared to Metacritic Rating
</h1>

<h3>
Choose a Year
</h3>

<form action="/Time-To-beat-Compared-to-Metacritic-Rating" method="get">
<select id="yearsP1" name="P1years">
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
</select>
<input type="submit" value="Submit">
</form>

<h1>
{{response}}
</h1>
<p>
    The average play time was {{pT}} hours played
</p>

<p>
The Metacritic score was {{score}} out of 100
</p>
{% endblock %}
