{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "dark2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Comparing The Revenue of Each Console"
	},
	axisY: {
		title: "Revenue (in millions)",
	},
	axisX: {
		title: "Game Consoles"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#\"%\"",
		dataPoints: [
			{ label: "Nintendo DS", y: {{nDs}} },
			{ label: "Sony PSP", y: {{spsp}} },
			{ label: "X360", y: {{xbx360}} },
			{ label: "Nintendo Wii", y: {{wii}} },
			{ label: "PlayStation 3", y: {{ps3}} },


		]
	}]
});
chart.render();

}
</script>
</div>
</head>
<body>
<div id="chartContainer" style="height: 910.49px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
{% endblock %}
